@*Filename: about.cshtml
    Author Name: Sam Buensuceso, Sarina Luu
    Website Name: http://paramountbistro-part2.azurewebsites.net/
    File Description: About page view*@
@{
    ViewBag.Title = "About Us";
}
<h1>@ViewBag.Title</h1>
@*<h3>@ViewBag.Message</h3>*@

<p id="aboutBlurb">Welcome to Paramount Bistro a 5-star award-winning restaurant located in the heart of Toronto
    serving only the finest cuisine. Our team takes great pride ensuring our ingredients are from local farmers 
    and are always fresh for best taste and quality. Paramount Bistro is perfect for a special evening or lunch with friends and family, make your
    reservations today, as we look forward to serving you the finest food in Toronto! </p>
<div id="reviews">
    <p>"Amazing food, memorable night, and amazing ambience"</p>
    <h4>- Emma Jo, <br />Editor-in-chief at FoodMagazine</h4>
    <p>"Quality service and Quality food"</p>
    <h4>- Bob Smith, <br />Blogger at Toronto's Best</h4>
</div>
<div id="awards">
    <img src="~/Assets/Images/award1.png"/>
    <img src="~/Assets/Images/award2.png" />
    <img src="~/Assets/Images/award3.png" />
</div>
