@*Filename: contact.cshtml
    Author Name: Sam Buensuceso, Sarina Luu
    Website Name: http://paramountbistro-part2.azurewebsites.net/
    File Description: Contact page view*@

@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>
<div class="topdiv"></div>
<div class="contactmap">
    <img src="~/Assets/images/map.png" />
</div>
<div class="contact_container">
    <p>
        <h5>Hours</h5>
        
        Sunday to Saturday| 10am to midnight
        <br />
    </p>
    <br />
    <h5>Paramount Bistro</h5>
    <p>800 Dundas Street W
    <p>Toronto, ON M6J 1V1
    <p>Canada

    <strong>Email:</strong>   <a href="mailto:Support@example.com">Contact@ParamountBistro.com</a><br />

</div>

<div class="followUs_Container">
        <h5>Follow Us On</h5>
        <div class="row">
            <div class="col-md-4">
                <a href="http://www.facebook.com">
                    <img src="~/Assets/images/facebook.png" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://www.twitter.com">
                    <img src="~/Assets/images/twitter.png" />
                </a>
            </div>
            <div class="col-md-4"></div>
        </div>
</div>

<br />


<div class="botdiv"></div>